@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 10px 4px #000000;
  box-shadow: 0px 0px 10px 4px #000000;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

#bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  width: 470px;
  border-radius: 5px;
  align-items: center;
  -webkit-box-shadow: 0px 0px 10px 4px #000000;
  box-shadow: 0px 0px 10px 4px #000000;
}

img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: auto;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

#article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#p-link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#link {
  color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 7px;
  background-color: rgb(2, 22, 240);
  text-decoration: none;
  width: 100%;
  font-size: 1.4em;
  text-align: center;
}

#link:hover {
  background-color: black;
  color: white;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  color: rgb(4, 0, 255);
}

span {
  color: rgb(47, 151, 151);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.list {
  list-style: none;
  font-size: 40px;
}

#middle-link {
  margin: 0 2rem 0 2rem;
}

h2 {
  color: rgb(4, 0, 255);
  margin-bottom: 0;
}

.list > a:hover {
  color: rgb(85, 226, 226);
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  #container {
    padding: 0.5rem;
    margin: auto;
  }
  h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 140%;
    color: rgb(4, 0, 255);
  }
  #article {
    font-size: small;
  }
}
